body {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background: #FFFFFF url('../imagenes/img01.gif') repeat-x;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333333;
    height: 100%;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
}

h1, h2, h3 {
    margin: 0;
    text-transform: lowercase;
    font-weight: normal;
    color: #3E3E3E;
  }

h1 {
    letter-spacing: -1px;
    font-size: 32px;
    border-bottom: 1px dotted #D1D1D1;
  }

h2 {
    font-size: 23px;
  }

h3 {
    background: url('../imagenes/img11.gif') no-repeat right 50%;
    border-bottom: 1px dotted #D1D1D1;
    font-size: 20px;
    color: #285A93;
}
p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
    font-size: 11px;
  }

a:link {
    color: #7BAA0F;
  }

a:hover, a:active {
    text-decoration: none;
    color: #003448;
  }

a:visited {
    color: #333333;
  }

img {
    border: none;
  }

img.left {
    float: left;
    margin-right: 15px;
  }

img.right {
    float: right;
    margin-left: 15px;
  }

.txtForm {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	color: #2B58A5;
}

/* Form */

form {
    margin: 0;
    padding: 0;
  }

fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

legend {
    display: none;
  }

input, textarea, select {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    border:1px solid #A2A2A2;
    padding:5px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
  }

/* Header */

#header {
    width: 850px;
    height: 82px;
    margin: 0 auto 40px auto;
    background: url('../imagenes/img03.gif') repeat-x left bottom;
  }

#logo {
    float: left;
  }

#logo h1 {
    font-size: 38px;
    color: #494949;
  }

#logo h1 sup {
    vertical-align: text-top;
    font-size: 24px;
  }

#logo h1 a {
    color: #494949;
  }

#logo h2 {
    margin-top: -10px;
    font-size: 12px;
    color: #A0A0A0;
  }

#logo a {
    text-decoration: none;
  }

/* Sidebar */

#sidebar {
    float: right;
    width: 195px;
  }

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

#sidebar li {
    margin-bottom: 40px;
  }

#sidebar li ul {
  }

#sidebar li li {
    margin: 0;
    padding-left: 12px;
    background: url('../imagenes/img12.gif') no-repeat left 50%;
  }

#sidebar h2 {
    margin-bottom: 10px;
    background: url('../imagenes/img11.gif') no-repeat right 50%;
    border-bottom: 1px dotted #D1D1D1;
    font-size: 16px;
  }


/* Footer */

#footer {	
	padding: 5px 0 0 0;
	background: #003448 url('../imagenes/img09.gif') repeat-x;
	width: 100%;
	position: fixed;
	bottom: 0 !importante;
	bottom: -1px;
	height: 45px;
}

#legal {
    clear: both;
    padding-top: 5px;
    text-align: center;
    color: #8ADE3C;
    line-height: 15px;
}

#legal a {
    color: #76D424;
}

.titForm {
    background-color : #CCCCCC;
}

.objForm {
    background-color: #F3F3F3;
}

.alerta {
	background: #fff6bf url('../imagenes/info.png') center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: center;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #ffd324;
	border-bottom: 1px solid #ffd324;
	height: 30px;
	color: #A90000;
}

.boton {
   background: #456E95;
   font-size:13px;
   font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   color:white;
   cursor:pointer;
   border:0px;
   width:100px;
   height:30px;
   order: 1px solid #003366;
   border-color: #D9DFEA rgb(14, 31, 91) rgb(14, 31, 91) rgb(217, 223, 234);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.boton:hover {
    background:#638cb5;
    width: 100px;
    height: 30px;
    font-size:13px;
    cursor:pointer;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFF;
    border: 1px solid #003366;
    border-color:#D9DFEA rgb(14, 31, 91) rgb(14, 31, 91) rgb(217, 223, 234);
}

.caja_login {
	background: #fff6bf;
	border-top: 1px solid #ffd324;
	border-bottom: 1px solid #ffd324;
	height: 300px;
    width: 300px;
	color: #A90000;
}